body {
    font-family: "Arial", sans-serif; 
    font-size: 1.6rem;  
    font-weight: 300;
    margin: 0;
}

header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /* width: 22.3%; */
  /* height: 82px; */
  position: fixed;
  top: 0;
  text-align: center;
  /* border-right: 4px solid #999; */ 
}

header h2 {
  font-weight: 500;
  font-size: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}

aside {
    box-sizing: border-box;
    display: block;
    /* width: 22.3%; */   
    /* height: 88.4vh; */
    overflow: auto;
    position: fixed;
    /* top: 80px; */
    /* border-right: 4px solid #999; */
}

aside p {
  margin-top: 0;
  margin-bottom: 0;
  /* padding-top: 15px; */
  /* padding-bottom: 15px; */
  /* border-top: 1px solid #444; */
}

aside a {
    text-decoration: none;
    color: #4d4e53;
    font-size: 1.7rem;
    /* margin-left: 40px; */
}

.content {
    display: block;
    padding: 0 2.5rem;
    /* width: 72%; */
    margin-left: auto;
}

.content h2 {
    font-size: 3rem;
    font-weight: 500;
}

.content .description {
    color: #4d4e53;
}

.content .description p {
    /* width: 98.5%; */
    margin: 2rem 0;
    margin-left: auto;
    line-height: 2.2rem;
}

.content .description ul {
    display: block;
    /* width: 94%; */
    margin-left: auto;
}

.content .description ul li {
    margin: 1.7rem 0; 
}

code {
    background-color: #f7f7f7;
    display: block;
    /* width: 95.5%; */
    margin-left: auto;
    padding: 1.4rem;
    border-radius: 0.5rem;
}

code span {
    display: block;
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin: 0;
}


/* MEDIA QUERIES */

/* for desktops */
@media (min-width: 1024px){
  :root {
    font-size: 10px;
  }

  header {
    width: 22.3%;
    height: 82px;
    border-right: 4px solid #999;
  }
  
  aside {
    width: 22.3%;
    height: 88.4vh;
    top: 80px;
    border-right: 4px solid #999;
  }
  
  aside p {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #444;
  }
  
  aside a {
    margin-left: 40px;
  }
  
  .content {
    width: 72%;
  }
  
  .content .description p {
    width: 98.5%;
  }
  
  .content .description ul {
    width: 94%;
  }
  
  code {
    width: 95.5%;
  }
}

/* for tablets */
@media (min-width: 768px) and (max-width: 1023px){
  :root {
    font-size: 10px;
  }
  
  header {
    width: 22.3%;
    height: 50px;
    border-right: 3px solid #999;
  }
  
  header h2 {
    font-size: 18px;
  }
  
  aside {
    width: 22.3%;
    height: 92vh;
    top: 50px;
    border-right: 3px solid #999;
  }
  
  aside p {
    padding-top: 13px;
    padding-bottom: 13px;
    border-top: 1px solid #444;
  }
  
  aside a {
    font-size: 15px;
  }
  
  .content {
    width: 72%;
  }
  
  .content .description p {
    width: 98.5%;
  }
  
  .content .description ul {
    width: 94%;
  }
  
  code {
    width: 95.5%;
  }
}

/* for mobile phones */
@media (max-width: 767px){
  :root{
    font-size: 9px;
  }
  
  header {
    width: 100%;
    height: 200x;
    display: block;
    margin-top: 9px;
  }
  
  aside {
    width: 100%;
    height: 150px;
    top: 50px;
    border: 2px solid #999;
  }
  
  aside p {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #444;
  }
  
  aside .links .link1 {
    border-top: 0;
  }
  
  aside a {
    margin-left: 55px;
  }
  
  .content {
    box-sizing: border-box;
    width: 100%;
    margin-top: 201px;
    overflow: auto;
    height: 69vh;
  }
  
  .content .description p {
    width: 96%;
    font-size: 13px;
  }
  
  .content .description ul {
    width: 87%;
    font-size: 13px;
  }
  
  code {
    width: 90%;
  }
  
  code span {
    font-size: 9px;
  }
}