body {
    font-family: "Inconsolata", sans-serif;
    margin: 0;
  }
  
  .bg-banner {
     background-image: url("https://i.ibb.co/DpDyTdt/Palov-Main-Dish-With-Rice-Meat-Raisins-and-Carrots-Recipe-Uzbekistan-Global-Storybook2-2.jpg");
  }
  
  .banner-fon {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  header {
    text-align: center;
  }
  
  header h1 {
    color: #bbf04a;
    margin-top: 0;
    padding-top: 50px;
  }
  
  header p {
    color: #fff;
    font-style: italic;
    font-weight: 100;
  }
  
  
  form {
    background-color: rgb(219, 185, 92, 0.9);
    width: 50%;
    margin: 0 auto;
    padding: 2.77em 2.5em;
    border-radius: 0.3em;
    color: #111;
  }
  
  
  .same-styles label {
    display: block;
   
  }
  
  
  .same-styles select,
  .same-styles input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9em;
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
    border-radius: 0.3em;
    border: none;
  }
  
  
  .payment .payment-label {
    display: block;
    margin-bottom: 0.6em;
  }
  
  
  .payment #pay-cash,
  .payment #pay-card,
  .payment #pay-visa {
    margin-left: 1.2em;
  }
  
  
  .additional-information label {
    display: block;
    margin-top: 2.2em;
    margin-bottom: 0.6em;
  }
  
  
  .additional-information textarea {
    display: block;
    width: 100%;
    height: 100px;
    font-size: 0.9em;
  }
  
  
  input.submit {
    display: block;
    background-color: #3debe5;
    color: #333;
    font-size: 1.2em;
    margin-top: 2.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 2em;
    border: none;
    border-radius: 0.5em;
  }
  
  
  input:focus, textarea {
    outline: none;
  }
  
  
  /* for desktops */
  @media (min-width: 1024px) {
    html {
      font-size: 20px;
    }
    
    body {
      letter-spacing: 1px;
      word-spacing: 4px;
    }
  }
  
  
  /* for tablets */
  @media (min-width: 768px) and (max-width: 1023px) {
    html {
      font-size: 18px;
    }
    
    header h1 {
      padding-top: 40px;
    }
  }
  
  
  /* for mobile phones */
  @media (max-width: 767px) {
    html {
      font-size: 16px;
    }
    
    .payment .pay-itemm {
      display: block;
    }
    
    header h1 {
      padding-top: 20px;
    }
  }